body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-top {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
}

.header-content {    
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 100px 0px;
    width: 1000px;
}

.main-title {
    flex: 1;
}

.image {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;

}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

p {
    padding-bottom: 16px;
}

.cards-section {
    text-align: center;
    width: 850px;
    align-self: center;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card > p {
    color: #1F2937;
    padding: 0;
    text-align: left;
}

h2 {
    color: #1f291f;
    font-size: 36px;
    font-weight: extra-bold;
    padding: 16px 0;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.illustration {
    border: 5px #3882F6 solid;
    height: 169px;
    border-radius: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

.quote {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote > p {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
}

.quote > h3 {
    align-self: flex-end;
    padding-right: 50px;

}

.sign-up {
    align-self: center;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.left-content {
    color: #F9FAF8;

}

.sign-up-background {
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 10px;
}


.sign-up-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;

}


.button-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-bottom > button {
    border: 2px solid #F9FAF8;
}


.left-content > p {
    padding: 0;
    
    
}

.left-content > h3 {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #1F2937;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-text > p {
    padding: 50px 100px;
}
