body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    border: 2px black solid;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
}

.header-content {    
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 100px 0px;
    width: 1000px;
}

.main-title {
    flex: 1;
}

.image {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;

}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

p {
    padding-bottom: 16px;
}

.cards {
}

.quote {
}

.sign-up {
}

.footer {
}
